.header-container{
    color: white;
    padding: 0px 20px ;
}
.wallet-btn{
    background: #c7a041;
    float: right;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    margin: 20px;
    transition: 0.3s all linear;
    font-weight: 600;
}
.wallet-btn:hover{
    background: #c7a141bd;

}
.row{
    margin-right: calc(-.0 * var(--bs-gutter-x)) !important;
    margin-left: calc(-.0 * var(--bs-gutter-x)) !important;
}